.m-image-container {
  width: 100%;


  .row {

    .col div:hover {
      width: 30%;
      z-index: 15;
      animation: image-size 1s forwards;
    }

    .col div{
      height: 500px;
      position: absolute;
      width: 25%;
      z-index: 1;
      animation: image-size-back 1s;
    }

    .col:nth-child(2) div:hover {
      animation: image2-position 1s forwards;
    }

    .col:nth-child(2) div {
      animation: image2-position-back 1s forwards;
    }

    .col:nth-child(3) div:hover {
      animation: image3-position 1s forwards;
    }

    .col:nth-child(3) div {
      animation: image3-position-back 1s forwards;
    }

    .col:nth-child(4) div:hover {
      animation: image4-position 1s forwards;
    }

    .col:nth-child(4) div {
      animation: image4-position-back 1s forwards;
    }
  }
}

@keyframes image-size {
  0% {
    width: 25%;
  }
  100% {
    width: 30%;
  }
}
@keyframes image-size-back {
  from {
    width: 30%;
    z-index: 10;
  }
  to {
    width: 25%;
    z-index: 10;
  }
}

@keyframes image2-position {
  0% {
    left: 25%;
    width: 25%;
  }
  100% {
    width: 30%;
    left: 22.5%;
  }
}

@keyframes image2-position-back {
  from {
    width: 30%;
    left: 22.5%;
  }
  to {
    width: 25%;
    left: 25%;
  }
}

@keyframes image3-position {
  0% {
    left: 50%;
    width: 25%;
  }
  100% {
    width: 30%;
    left: 47.5%;
  }
}
@keyframes image3-position-back {
  from {
    width: 30%;
    left: 47.5%;
  }
  to {
    width: 25%;
    left: 50%;
  }
}

@keyframes image4-position {
  0% {
    left: 75%;
    width: 25%;
  }
  100% {
    width: 30%;
    left: 70%;
  }
}

@keyframes image4-position-back {
  from {
    width: 30%;
    left: 70%;
  }
  to {
    width: 25%;
    left: 75%;
  }
}