$orange-gradient: linear-gradient(to right, #e43a15, #e65245);
$dark: #373B44;
$blue-gradient1: -webkit-linear-gradient(to right, #4286f4, #373B44);
$blue-gradient2: linear-gradient(to right, #4286f4, #373B44);


.navbar {
  $white-decor-width: 240px;

  background: $blue-gradient2 !important;

  .nav-link {
    color: white !important;
    border-radius: 10px;
    padding: 10px !important;
    transition: background-color 0.3s;
  }

  .navbar-right-font{
    color: black !important;
  }

  .nav-item, .navbar-toggler{
    z-index: 2 !important;
  }

  .nav-link:hover {
    color: #faf6f2 !important;
    background: rgba(0, 0, 0, 0.3);
  }

  .navbar-white-decor {
    height: 100%;
    background: white;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border-radius: 100% 0 0 40%;
    width: $white-decor-width;
    z-index: 1;
  }

  .decor-layer2 {
    background: rgba(255,255,255,0.5);
    border-radius: 90% 0 0 50%;
    width: $white-decor-width + 10px;
  }

  .decor-layer3 {
    background: rgba(255,255,255,0.3);
    border-radius: 60% 0 0 40%;
    width: $white-decor-width + 20px;
  }

  /* Navbar change layout for the mobile look */
  @media screen and (max-width: 991px) {
    $white-decor-width: $white-decor-width - 100px;

    .navbar-right-font{
      color: white !important;
    }

    .navbar-white-decor{
      top: 60px;
      height: calc(100% - 60px);
      width: $white-decor-width;
    }

    .decor-layer2 {
      width: $white-decor-width + 20px;
    }

    .decor-layer3 {
      width: $white-decor-width + 40px;
    }
  }
}