@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$dark: #373B44;
$dark-blue: #4286f4;
$mid-blue: #0088d6;
$light-blue: #00a4d6;
$blue-gradient1: -webkit-linear-gradient(to right, #4286f4, #373B44);
$blue-gradient2: linear-gradient(to right, #4286f4, #373B44);

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  $white-decor-width: 240px;

  background: $blue-gradient2;

  .nav-link {
    color: white !important;
    border-radius: 10px;
    padding: 10px !important;
    transition: background-color 0.3s;
  }

  .navbar-right-font {
    color: black !important;
  }

  .nav-item, .navbar-toggler {
    z-index: 2;
  }

  .nav-link:hover {
    color: #faf6f2;
    background: rgba(0, 0, 0, 0.3);
  }

  .navbar-white-decor {
    height: 100%;
    background: white;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border-radius: 100% 0 0 40%;
    width: $white-decor-width;
    z-index: 1;
  }

  .decor-layer2 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 90% 0 0 50%;
    width: $white-decor-width + 10px;
  }

  .decor-layer3 {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 60% 0 0 40%;
    width: $white-decor-width + 20px;
  }

  /* Navbar change layout for the mobile look */
  @media screen and (max-width: 991px) {
    $white-decor-width: $white-decor-width - 100px;

    .navbar-right-font {
      color: white !important;
    }

    .navbar-white-decor {
      top: 60px;
      height: calc(100% - 60px);
      width: $white-decor-width;
    }

    .decor-layer2 {
      width: $white-decor-width + 20px;
    }

    .decor-layer3 {
      width: $white-decor-width + 40px;
    }
  }
}

/* override bootstrap form */

.form-control {
  border-radius: 1.2rem;
}

.form-control:focus {
  box-shadow: 0 0 2px 0.1rem rgba(#4286f4, .3);
}

/* override bootstrap buttons */

.btn {
  border-radius: 1.4rem;
}

.btn:active:focus {
  box-shadow: 0 0 2px 0.1rem rgba(#4286f4, .3);
}

.btn:hover {
  box-shadow: 0 0 2px 2.5px rgba(#4286f4, .3);
}

.btn-primary {
  background: $light-blue;
  border-color: $dark-blue;
}

.btn-primary:hover {
  background: $mid-blue;
  text-shadow: $dark-blue 0 0 20px;
}

.container {
  background: green;
}

.row{
  --bs-gutter-x: 0;
}

.login-form {
  max-width: 500px;
}

.slider-container {
  padding: 4%;
}

@media screen and (max-width: 1000px) {
  .slider-container {
    width: 100%;
    padding: 50px 200px 0 200px;
  }
}

@media screen and (max-width: 850px) {
  .slider-container {
    width: 100%;
    padding: 50px 10px 0 10px;
  }
}