{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
<div class="m-image-container mt-5">
    <div class="row row-cols-4">
        <div class="col">
            <div class="bg-primary">
                <img src="http://t0.gstatic.com/licensed-image?q=tbn:ANd9GcTVJSrwLal8dZf42wKNVfXGOxf_3eTdHKuyCmEu9TUYA7EpBx6BDPKK_vBE_SHxodc6r04x_rxWSe-bgTYRNjo">
            </div>
        </div>
        <div class="col">
            <div class="bg-dark">
                <img src="https://www.gettyimages.pt/gi-resources/images/Homepage/Hero/PT/PT_hero_42_153645159.jpg">
            </div>
        </div>
        <div class="col">
            <div class="bg-info">
                <img src="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcSmix0yTqHfemFI2OCIx1V2QlwRhTl6iQ1EqTWzesK267M9RD2Sr8MKvubG09PCz8Vv3BBHjDEPALf1SqI4Uqs">
            </div>
        </div>
        <div class="col">
            <div class="bg-secondary">
                <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcS8BCFhdkX3FHI9jU3cAS-T0JT7vRXgItqvI1IIsrF4q-MbzncbtGnLtvGGGhbsG0Wg6XvBOm1fFnSLMNCv3x0">
            </div>
        </div>
    </div>
</div>
{% endblock %}

